<?xml version="1.0" encoding="utf-8"?>
<!--
Document   : log4j2.haml
Created on : 2022-09-02 01:27:17 -0300
Author     : ivan
Description:
Purpose of the document follows.
-->
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
