!!! XML
/
  Document   : pom.haml
  Created on : #{Time.new}
  Author     : ivan
  Description:
  Purpose of the document follows.

%project{
  :xmlns=>"http://maven.apache.org/POM/4.0.0",
  :"xmlns:xsi"=>"http://www.w3.org/2001/XMLSchema-instance",
  :"xsi:schemaLocation"=>"http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
  }

  %modelVersion 4.0.0
  %groupId ${groupId}
  %artifactId ${artifactId}
  %packaging jar
  %version ${version}
  %name Console Application
  %url http://maven.apache.org

  %developers
    %developer
      %id ivanlopes
      %name Ivan Lopes
      %email ivan@42algoritmos.com.br
      %timezone America/Sao_Paulo
      %url http://ivanlopes.eng.br

  - properties = { :parameters => [ %w(main.class   ${package}.App),
    %w(project.build.sourceEncoding  UTF-8),
    %w(java-version                  1.8),
    %w(log4j.configurationFile       ${basedir}/src/main/resources/log4j2.xml),
    %w(junit.version                 4.11),
    %w(log4j.version                 2.18.0),
    %w(ant.jsch.version              1.8.0),
    %w(maven.dependency.plugin       2.5.1),
    %w(maven.antrun.plugin.version   1.7),
    %w(maven.jar.plugin.version      2.4),
    %w(maven.compiler.plugin.version 3.1),
    %w(maven.javadoc.plugin.version  2.9.1),
    %w(exec.maven.plugin.version     1.2.1),
    %w(local.deploy.dirname          /tmp),
    %w(remote.deploy.dirname         /tmp),
    ]}

  %properties
    - properties[:parameters].each do |t,v|
      -# = Haml::Engine.new("%"+t).render(self)
      = "<%s>%s</%s>" % [t,v,t]


  %build
    %finalName ${project.artifactId}-${project.version}
    %plugins

      / COMPILE RULES
      %plugin
        %groupId org.apache.maven.plugins
        %artifactId maven-compiler-plugin
        %version ${maven.compiler.plugin.version}
        %configuration
          %source ${java-version}
          %target ${java-version}

      / Javadoc
      %plugin
        %groupId org.apache.maven.plugins
        %artifactId maven-javadoc-plugin
        %version ${maven.javadoc.plugin.version}
        %executions
          %execution
            %id attach-javadoc
            %phase verify
            %goals
              %goal jar

      / Execute java source by maven command line `mvn exec:java'
      %plugin
        %groupId org.codehaus.mojo
        %artifactId exec-maven-plugin
        %version ${exec.maven.plugin.version}
        %configuration
          %mainClass ${main.class}

  %dependencies
    / SCP file to server
    %dependency
      %groupId org.apache.maven.plugins
      %artifactId maven-antrun-plugin
      %version ${maven.antrun.plugin.version}

    / SCP file to server
    %dependency
      %groupId org.apache.ant
      %artifactId ant-jsch
      %version ${ant.jsch.version}
      %scope provided

    / JUnit
    %dependency
      %groupId junit
      %artifactId junit
      %version ${junit.version}
      %scope test

    / Log
    %dependency
      %groupId org.apache.logging.log4j
      %artifactId log4j-api
      %version ${log4j.version}

    %dependency
      %groupId org.apache.logging.log4j
      %artifactId log4j-core
      %version ${log4j.version}
