!!! XML
/
  Document   : archetype-metadata.haml
  Created on : #{Time.new}
  Author     : ivan
  Description:
  Purpose of the document follows.

%archetype-descriptor{
  :name=>"webapp",
  :"xsi:schemaLocation"=>"http://maven.apache.org/plugins/maven-archetype-plugin/archetype-descriptor/1.0.0 http://maven.apache.org/xsd/archetype-descriptor-1.0.0.xsd",
  :xmlns=>"http://maven.apache.org/plugins/maven-archetype-plugin/archetype-descriptor/1.0.0",
  :"xmlns:xsi"=>"http://www.w3.org/2001/XMLSchema-instance"
}

  %fileSets
    -# Java
    %fileSet{:filtered=>"true", :packaged=>"true", :encoding=>"UTF-8"}
      %directory src/main/java
      %includes
        %include **/*.java

    %fileSet{:filtered=>"true", :encoding=>"UTF-8"}
      %directory src/main/resources
      %includes
        %include **/*.*

    %fileSet{:filtered=>"true", :encoding=>"UTF-8"}
      %directory/
      %includes
        %include Makefile

    %fileSet{:filtered=>"true", :encoding=>"UTF-8"}
      %directory/
      %includes
        %include .projections.json

    -# Test
    %fileSet{:filtered=>"true", :packaged=>"true", :encoding=>"UTF-8"}
      %directory src/test/java
      %includes
        %include **/*.java

    %fileSet{:filtered=>"true", :packaged=>"true", :encoding=>"UTF-8"}
      %directory src/test/resources
      %includes
        %include **/*.*


