!!! XML
/
  Document   : log4j2.haml
  Created on : #{Time.new}
  Author     : ivan
  Description:
  Purpose of the document follows.

%Configuration{:status=>"WARN"}
  %Appenders
    %Console{ :name=>"Console", :target=>"SYSTEM_OUT"}
      %PatternLayout{ :pattern=>"%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"}/

  %Loggers
    /
      OFF.
      FATAL.
      ERROR.
      WARN.
      INFO.
      DEBUG.
      TRACE.
      ALL.
    %Root{:level=>"trace"}
      %AppenderRef{:ref=>"Console"}/

